.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:url(../assets/imgs/login_bacck.jpg);
  }
  
  .auth-form {
    background-color:rgba(255, 255, 255, 0.5);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .auth-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .auth-btn {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .auth-btn:hover {
    background: #218838;
  }
  
  .toggle-text {
    margin-top: 15px;
    text-align: center;
    color: #555;
  }
  
  .toggle-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .toggle-link:hover {
    color: #0056b3;
  }
  