
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  .hero-slider {
  width: 100%;
  height: 600px;          /* fix height */
  overflow: hidden;
}

.hero-slider LazyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* stretch band */
}
@media (max-width: 576px) {
  .hero-slider {
    height: 500px;
     object-fit: contain; 
  }
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
  }
  
