@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}
html {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* background-color: #2c3e50; */
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Playfair Display", serif;
}
h4 {
  font-family: "Cormorant Garamond", serif;
}
p {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* navbar css */
.navigation {
  padding: 5px 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position:sticky;
  top: 0;
  left: 0;
  
}
.Js_nav{
  padding: 5px 0;
  z-index: 2;
  width: 100%;
  background-color:white;
  color: black;
  
}
.jsnav_item li {
  color: #000000;
}
.navigation img {
  height: 100px;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}
.nav_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  color:black;
  filter: drop-shadow(2px 2px 2px black);
}
.nav_item li {
  margin: 10px 20px;
  cursor: pointer;
}
.nav_item li a {
  text-decoration: none;
  color:#3f9fee;
  font-size: 22px;
}
.top_icon {
  font-size: 25px;
  color: white;
  margin-top: 20px;
}
.toggle {
  color:#3f9fee;
  font-size: 28px;
  display: none;
}
.swiper {
  padding-top: 50px;
}

/* products css */

.products_list {
  padding-top: 60px;
}
.products {
  box-shadow: 2px 2px 4px #876969, -2px -2px 4px #876969;
  border-radius: 9px;
  padding: 10px 15px;
  text-align: center;
  margin: 20px 0;
}
.contact-btn{
  background-color: #ff6700;
  color: white;
}
.navbar-logo {
  filter: invert(1); /* white -> black */
  position: relative;
  top: -5px;
}

.heading_products {
  color: #ff6700;
  text-align: center;
  margin: 15px 0;
  position: relative;
  padding-bottom: 14px;
}

.heading_products::before {
  position: absolute;
  content: "";
  background-color: #876969;
  height: 2px;
  bottom: 0;
  right: 35%;
  left: 33%;
}
.heading_products::after {
  position: absolute;
  content: "";
  background-color: #876969;
  height: 15px;
  bottom: -6px;
  right: 35%;
  width: 15px;
  border-radius: 50%;
}
.products img {
  border-radius: 8px;
  margin-bottom: 12px;
  height: 250px;
}
.products button {
  background-color: #ff9900;
  width: 80%;
  margin: 5px 5px;
  border-radius: 4px;
  color: white;
  border: none;
  font-size: 16px !important;
  padding: 8px 0;
}
.view_all {
  text-align: center;
}
.view_all {
  text-decoration: none;
  width: 30%;
  display: block;
  margin: 20px auto; /* Centers the button */
  padding: 10px 20px;
  background-color: #ff6700; /* Change to your theme color */
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}
.view_all:hover {
  background-color: #ff914d;
}
/* rating component */

.rating {
  font-size: 1.2rem;
  color: #ffc107; /* Filled star color */
  text-align: center;
}

.rating-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

/* pride css */
.pride {
  background-color: rgba(16, 238, 16, 0.267);
  padding: 15px 0;
}

.first_pride {
  text-align: center;
  color: rgb(24, 109, 49);
  filter: drop-shadow(2px 2px 2px rgb(69, 185, 104));
}
.first_pride h3 {
  font-family: cursive;
}
.pride_lines {
  text-align: center;
  padding: 20px 0;
  background-color: #f1eded;
}
.pride_lines h2 {
  color: rgb(24, 109, 49);
  margin: 20px;
  font-weight: 600;
}
.pride_lines p span {
  color: goldenrod;
  font-weight: 600;
}

/* popular brands */
.popular {
  text-align: center;
  padding-top: 50px;
  margin: 40px 0;
}
.Popular_heading {
  color: #ff6b00;
  margin: 20px 0;
  position: relative;
  padding-bottom: 15px;
}
.Popular_heading::before {
  position: absolute;
  content: "";
  background-color: #876969;
  height: 2px;
  bottom: 0;
  right: 36%;
  left: 33%;
}
.Popular_heading::after {
  position: absolute;
  content: "";
  background-color: #876969;
  height: 15px;
  bottom: -6px;
  right: 35%;
  width: 15px;
  border-radius: 50%;
}

.popular p {
  color: #876969;
  font-weight: 600;
}
.brands {
  padding-top: 40px;
}
.brands img {
  border-radius: 8px;
  filter: drop-shadow(1px 1px 4px gray);
}
.shoe_logo img {
  height: 40px;
}
.shoe_logo {
  margin-top: 40px;
}
/* banner */
.banner {
  width: 100%;
  padding-top: 60px;
}
.banner img {
  height: 100%;
  width: 100%;
}

/* cart css */
.cart_main {
  display: flex;
  justify-content: center;
}
.cart {
  margin-top: 80px;
  margin: 50px;
  background-color: rgba(241, 238, 238, 0.856);
  text-align: center;
  width: 60%;
  text-align: center;
  box-shadow: 1px 1px 4px rgb(233, 231, 231), -1px -1px 4px rgb(230, 230, 230);
}

.cart_handler {
  justify-content: center;
  display: flex;
}
.product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 10px;
  background-color: white;
  padding: 20px 10px;
  margin: 20px 10px;
}
.product button {
  background-color: #ff6b00;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 10px;
}
.product img {
  height: 80px;
  width: 100px;
  border-radius: 12px;
}

/* footer */
footer {
  background-color: black;
  color: #f1eded;
  padding: 30px 0;
}
footer h4 {
  margin: 20px 0;
}
footer ul {
  list-style: none;
}
footer ul li {
  font-size: 18px;
  margin: 10px 0;
}

.socials {
  font-size: 28px;
}
.input_box {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.input_box input {
  padding: 10px;
  border-radius: 8px;
}
.input_box button {
  padding: 15px 10px;
  background-color: black;
}
.footer_adjuster {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_social {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.checkoutBTN {
  margin: 25px 0;
}
.checkout {
  background-color: #ff6700;
  text-decoration: none;

  color: white;
  border: none;
  padding: 10px 8px;
  width: 90%;
  border-radius: 0px;
  margin: 20px 0;
}

.checkout:hover {
  background-color: #e45705;
  border-radius: 10px;
  transition: 0.5s all;
}
.checkout_parent {
  display: flex;
  justify-content: center;
}
.checkout_parent h1 {
  margin: 20px 0;
  color: #ff6700;
  font-weight: 700;
}
.checkout_form {
  width: 75%;
  text-align: center;
}
.checkout_form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.city {
  display: flex;
  justify-content: space-between;
}

.place_order {
  text-align: center;
}
.place_Order_btn {
  text-decoration: none;
  width: 30%;
  background-color: #ff6700;
  color: white;
  border: none;
  padding: 10px 8px;
  border-radius: 8px;
  margin: 20px 0;
}

/* order done successfully */
.orderDone {
  background: rgba(16, 238, 16, 0.267) url(../src/assets/imgs/order_done.gif);
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
/* btn  animatin */
button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;

  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--text-color);

  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
}

button:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after,
button::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events: none;
}

button::after {
  font-weight: 200;
  top: -30px;
  left: -20px;
}

.right,
.left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.right {
  left: 66%;
}
.left {
  right: 66%;
}
.right::after {
  top: -30px;
  left: calc(-66% - 20px);

  background-color: var(--bg-color);
  color: transparent;
  transition: transform 0.4s ease-out;
  transform: translate(0, -90%) rotate(0deg);
}

button:hover .right::after {
  transform: translate(0, -47%) rotate(0deg);
}

button .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg);
}

button .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg);
}

/* bubbles */
button::before {
  content: "";
  pointer-events: none;
  opacity: 0.6;
  background: radial-gradient(
      circle at 20% 35%,
      transparent 0,
      transparent 2px,
      var(--text-color) 3px,
      var(--text-color) 4px,
      transparent 4px
    ),
    radial-gradient(
      circle at 75% 44%,
      transparent 0,
      transparent 2px,
      var(--text-color) 3px,
      var(--text-color) 4px,
      transparent 4px
    ),
    radial-gradient(
      circle at 46% 52%,
      transparent 0,
      transparent 4px,
      var(--text-color) 5px,
      var(--text-color) 6px,
      transparent 6px
    );

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}

.cart_animation {
  position: fixed;
  top: 15%;
  right: 5%;
}
.cart_animation img {
  height: 100px;
}
.Total {
  color: #876969;
  font-weight: 700;
}
.cart_message {
  text-transform: capitalize;
  font-weight: 500;
  color: #a31919;
  background-color: rgb(230, 230, 230);
  padding: 40px 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), -2px -2px 4px rgba(0, 0, 0, 0.8);
}
.userInfo {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.user {
  width: 75%;
  background-color: rgb(238, 231, 231);
  border-radius: 12px;
}
.user img {
  height: 150px;
  border-radius: 50%;
}
.info {
  color: #876969;
  background-color: #f1eded;
  padding: 20px 0;
}
.Contact_page {
  padding: 20px 50px;
  text-align: center;
}
.contactIcon {
  background-color: #ff6700;
  margin: 20px 25px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  padding: 20px;
  color: white;
}
.contactTwo_icon {
  display: flex;
  justify-content: center;
}
.icon_sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.for_mailPosition {
  position: relative;
}
.for_mailPosition input {
  padding: 15px 70px;
  border-radius: 20px;
}
.for_mailPosition_btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  background-color: #e45705;
  border-radius: 20px;
  /* padding: 16px 25px; */
}

/* media query css for app */
@media (min-width: 320px) and (max-width: 700px) {
  .nav_item {
    display: none;
  }
  .toggle {
    display: block;
  }
  .show_menu {
    display: block;
    animation-name: navs;
    animation-duration: 0.4s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
  @keyframes navs {
    0% {
      transform: translatex(500px);
    }
    100% {
      transform: translatex(0px);
    }
  }
  .view_all {
    width: 60%;
  }
  /* cart mediaquerry css */
  .product {
    display: block;
  }
  .cart_handler {
    justify-content: space-evenly;
  }
  .cart_imgSection {
    margin: 25px 0;
  }
  .quantitys {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    align-items: center;
  }
  .quantitys h3 {
    display: block !important ;
  }
  /* footer adjust mediaquerry */
  .footer_adjuster {
    display: flex;
    justify-content: center;
  }
  .footer_social{
    display: block;
  }
}

/* add to cart anime */
.cart_animation {
  position: fixed;
  top: 30%;
  right: 1%;
  background-color: rgba(230, 230, 230, 0.4);
  z-index: 2;
  transition: 0.5s linear;
}
.profile-header {
  height: 140px;
  background: linear-gradient(90deg, #f97316, #ea580c);
}

.avatar-container {
  width: 110px;
  height: 110px;
  transform: translateY(50%);
}.profile-header {
  height: 140px;
  background: linear-gradient(90deg, #f97316, #ea580c);
}

.avatar-container {
  width: 110px;
  height: 110px;
  transform: translateY(50%);
}